
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% load django_bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
    <title>SBL</title>

</head>
<body>
    {% block content %}

    {% endblock content %}
    
</body>
</html>